<div>
  こころを静める方法を決めておきましょう。
  <br> 複数でもよいし、何度も変えながら色々試してみても構いません。

  <form id="mantraInputForm">
    <div>
      <div class="input-field">
        <textarea id="mantraInput" class="materialize-textarea"></textarea>
        <label for="mantraInput">あなたのこころを静める方法</label>
      </div>
      <div class="clearfix">
        <button id="mantraSave" class="waves-effect waves-green btn fr" ng-click="save()">保存</button>
      </div>
    </div>
  </form>

  <div>
    <ul class="collection">
      <li class="collection-header">
        <span class="label teal lighten-1 white-text">方法を考えるヒント</span>
      </li>
      <li class="collection-item">別の観点でみる（リフレーミング）</li>
      <li class="collection-item">楽しかったことや趣味のことなど別のことを考える</li>
      <li class="collection-item">笑いにする（心の中でツッコミを入れるなど）</li>
      <li class="collection-item">点数をつける（ここまでは正解、ここからが不正解、だから何点）</li>
      <li class="collection-item">我慢できた自分を褒める</li>
      <li class="collection-item">とにかく目の前の課題解決に集中する</li>
    </ul>
  </div>
</div>