<nav id="menu" class="menu">
  <div class="nav-wrapper">
    <a href="#/" class="brand-logo logo">Anger Management</a>
    <a href="#/" data-activates="mobile-demo" class="button-collapse"><img src="img/menu.png" alt="menu" class="menu-icon"></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#/">トップ</a></li>
      <li><a href="#/mantra-input">こころを静める方法</a></li>
      <li><a href="#/diary">怒りの日記</a></li>
      <li><a href="#/retrospective">ふりかえり</a></li>
      <li><a href="#/check">攻撃性評価</a></li>
      <li><a href="#/improve">攻撃性評価の記録</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#/">トップ</a></li>
      <li><a href="#/mantra-input">こころを静める方法</a></li>
      <li><a href="#/diary">怒りの日記</a></li>
      <li><a href="#/retrospective">ふりかえり</a></li>
      <li><a href="#/check">攻撃性評価</a></li>
      <li><a href="#/improve">攻撃性評価の記録</a></li>
    </ul>
  </div>
</nav>