<div>
  <ul class="collection">
    <li class="collection-header">
      <span class="label orange darken-4' white-text">怒りを助長する考え方</span>
    </li>
    <li class="collection-item">こうあるべき/はず
      <br>（「自分と彼の考え方は違う」が「彼は間違っている」となる）</li>
    <li class="collection-item">0か1か
      <br>（「ある観点では彼の発言は論理的に矛盾している」が「彼は間違っている/バカだ」となる）</li>
    <li class="collection-item">思い込み・決めつけ
      <br>（「ミスを指摘された」が「彼は自分をバカにしている」となる）</li>
    <li class="collection-item">あなたvsわたし
      <br>（「批判された」が「攻撃された/負けてはならない」となる）</li>
    <li class="collection-item">マイナス思考
      <br>（「上司に叱られた」が「自分には才能がない」となる）</li>
    <li class="collection-item">自己卑下
      <br>（「苦手なことがいくつかある」が「能力が低い」となる）</li>
    <li class="collection-header">
      <span class="label orange darken-4' white-text">怒りを助長する行動</span>
    </li>
    <li class="collection-item">大声/早口で話す</li>
    <li class="collection-item">しかめ面/にらむ/冷笑</li>
    <li class="collection-item">いやみ発言/乱暴な言葉</li>
    <li class="collection-item">腕組み/拳に力をいれる</li>
    <li class="collection-item">おおきな身振り/立ち上がる</li>
    <li class="collection-item">忙しい/ストレス過剰</li>
    <li class="collection-header">
      <span class="label orange darken-4' white-text">怒りを助長する悪癖</span>
    </li>
    <li class="collection-item">自分の要望中心</li>
    <li class="collection-item">困難を避ける</li>
    <li class="collection-item">悪くないのに謝る</li>
    <li class="collection-item">言われたとおりにする</li>
    <li class="collection-item">被害者意識</li>
    <li class="collection-item">おしつけ</li>
    <li class="collection-item">勝たないと気が済まない</li>
    <li class="collection-item">自分が有利になるように仕組む</li>
  </ul>
</div>