<div>
  <ul class="collection">
    <li class="collection-header">
      <span class="label teal lighten-1 white-text">怒りを和らげる考え方</span>
    </li>
    <li class="collection-item">みんな違う
      <br>（彼とはどこが違うのか、違いの要因は何かを考える）</li>
    <li class="collection-item">アナログ思考
      <br>（この観点では彼はこっちより、あの観点ではあっちより）</li>
    <li class="collection-item">結論を急がない
      <br>（客観的、多角的に整理し、論理飛躍がないことを確認する）</li>
    <li class="collection-item">問題vsわたしたち
      <br>（批判した相手を一緒に問題解決する方向にに誘導する）</li>
    <li class="collection-item">プラス思考
      <br>（叱られるのは期待されている証拠）</li>
    <li class="collection-item">ほめる
      <br>（小さなことでもいいことは自分をほめる（できれば、他人にも））</li>
    <li class="collection-header">
      <span class="label teal lighten-1 white-text">怒りを和らげる行動</span>
    </li>
    <li class="collection-item">控えめな声量/ゆっくり話す</li>
    <li class="collection-item">口角をあげる/笑顔</li>
    <li class="collection-item">けど/でも/だから　などの否定接続詞を言わない</li>
    <li class="collection-item">深呼吸/力をいれる・抜くをゆっくり繰り返す</li>
    <li class="collection-item">トイレなどに一度避難/瞑想/楽しいことを空想</li>
    <li class="collection-item">リラックスできる時間をつくる/楽しい趣味などの時間をつくる</li>
    <li class="collection-header">
      <span class="label teal lighten-1' white-text">怒りを和らげる良い習慣</span>
    </li>
    <li class="collection-item">自分を信じる</li>
    <li class="collection-item">正直</li>
    <li class="collection-item">客観的・論理的
      <br>（事実のみをありのままに受け止める）</li>
    <li class="collection-item">人の話を聞く、何かを吸収しようとする</li>
    <li class="collection-item">歩み寄り</li>
    <li class="collection-item">ソリューション志向
      <br>（問題解決を再優先にする）</li>
  </ul>
</div>